*{
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

.container {
    max-width: 400px;
    padding: 25px 35px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vw;
    background: linear-gradient(#fff, #f1f1f1) padding-box, linear-gradient(120deg, transparent 25%, #1cb0ff, #40ff99) border-box;
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
}