#logo {
    width: 80px;
    height: 80px;
}
.header {
    padding: 30px;
    background-color: lightcyan;
    display: grid;
    grid-template-columns: auto auto auto;
}
#username {
    text-align: right;
    font-weight: bold;
}
.toppage{
    font-weight: bold;
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto;
}
#date {
    text-align: right;
}
#ajout_acc {
    text-decoration: underline;
}
table,th,td {
    min-width: 377px;
    min-height: 100px;
    border: 1px solid black;
    border-collapse: collapse;
}