*{
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}
img{
    width: 10rem;
    height: 10rem;
}
header {
    background-color: lightcyan;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
header img{
    cursor: pointer;
}
.header-content{
    width: 100%;
    display:  flex;
    flex-direction: row;
    justify-content: space-around;

}
#username {
    text-align: right;
    font-weight: bold;
}
.toppage{
    font-weight: bold;
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto;
}
#date {
    text-align: right;
}
#ajout_acc {
    text-decoration: underline;
}

table{
    width: 90%;
    margin: 1rem auto 2rem auto;
    border-collapse: collapse;
    border-radius: 8px ;
    overflow: hidden;
    box-shadow: 0 4px 8px #2C93CE ;
}
th, td{
    padding: 12px 15px;
    text-align: left;
}
th{
    background-color: #2C93CE;
    color: white;
    font-weight: bold;
}
tr:nth-child(even){
    background-color: #f1f1f1;
}
tr:hover{
    background-color: #c3d9ea;
    cursor: pointer;
}
td{
    color: #004564;
}

.search-container{
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
}
.input{
    width: 30rem;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    color: black;
    transition: .3 ease;
}
.input:focus, .input:hover{
    outline: none;
    border-color: #3FAE81;
    background-color: #FCFDF5;
    box-shadow: 0 0 0 4px #004564 10%;

}
.icon{
    position: absolute;
    left: 1rem;
    width: 1rem;
    height: 1rem;
}

#bigger_box {
    width: 70%;
    height: 100px;
}
   
   
   
   
   
